﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u0 {
  position:absolute;
  left:757px;
  top:382px;
  width:94px;
  height:94px;
}
#u1 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u2 {
  position:absolute;
  left:255px;
  top:382px;
  width:94px;
  height:94px;
}
#u3 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:475px;
}
#u4 {
  position:absolute;
  left:315px;
  top:198px;
  width:475px;
  height:475px;
}
#u5 {
  position:absolute;
  left:2px;
  top:230px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:485px;
}
#u6 {
  position:absolute;
  left:315px;
  top:198px;
  width:475px;
  height:475px;
}
#u7 {
  position:absolute;
  left:2px;
  top:230px;
  width:471px;
  visibility:hidden;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:395px;
  height:5px;
}
#u8 {
  position:absolute;
  left:356px;
  top:568px;
  width:392px;
  height:2px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-7px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u10 {
  position:absolute;
  left:818px;
  top:319px;
  width:221px;
  height:221px;
}
#u11 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:355px;
  top:567px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:106px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:106px;
  opacity:0.6;
}
#u15 {
  position:absolute;
  left:2px;
  top:45px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#0D0D0D;
}
#u16 {
  position:absolute;
  left:133px;
  top:24px;
  width:130px;
  height:44px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#0D0D0D;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u18 {
  position:absolute;
  left:166px;
  top:60px;
  width:61px;
  height:29px;
  font-family:'AppleGothic', 'AppleGothic';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u20 {
  position:absolute;
  left:191px;
  top:3px;
  width:13px;
  height:11px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u22 {
  position:absolute;
  left:345px;
  top:9px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  transform:rotate(10deg);
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:106px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:106px;
  opacity:0.6;
}
#u26 {
  position:absolute;
  left:2px;
  top:45px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u27 {
  position:absolute;
  left:191px;
  top:3px;
  width:13px;
  height:11px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:345px;
  top:9px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(350deg);
  -moz-transform:rotate(350deg);
  -ms-transform:rotate(350deg);
  transform:rotate(350deg);
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:10px;
}
#u32 {
  position:absolute;
  left:146px;
  top:40px;
  width:170px;
  height:5px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:90px;
  height:25px;
}
#u34 {
  position:absolute;
  left:79px;
  top:40px;
  width:78px;
  height:5px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:154px;
  top:55px;
  width:88px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(153, 153, 153, 0.647058823529412);
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u38 {
  position:absolute;
  left:67px;
  top:319px;
  width:221px;
  height:221px;
}
#u39 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:482px;
  top:359px;
  width:141px;
  height:141px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:141px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:107px;
}
#u41 {
  position:absolute;
  left:19px;
  top:22px;
  width:107px;
  height:107px;
  opacity:0.6;
}
#u42 {
  position:absolute;
  left:2px;
  top:46px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u43 {
  position:absolute;
  left:57px;
  top:51px;
  width:45px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:141px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:107px;
}
#u45 {
  position:absolute;
  left:19px;
  top:22px;
  width:107px;
  height:107px;
  opacity:0.6;
}
#u46 {
  position:absolute;
  left:2px;
  top:46px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u47 {
  position:absolute;
  left:50px;
  top:53px;
  width:45px;
  height:45px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:141px;
}
#u49 {
  position:absolute;
  left:482px;
  top:365px;
  width:141px;
  height:141px;
  opacity:0;
}
#u50 {
  position:absolute;
  left:2px;
  top:62px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
