﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:272px;
}
#u0 {
  position:absolute;
  left:373px;
  top:193px;
  width:202px;
  height:272px;
}
#u1 {
  position:absolute;
  left:2px;
  top:128px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:218px;
}
#u2 {
  position:absolute;
  left:643px;
  top:243px;
  width:227px;
  height:218px;
}
#u3 {
  position:absolute;
  left:2px;
  top:101px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:210px;
}
#u5 {
  position:absolute;
  left:69px;
  top:249px;
  width:206px;
  height:206px;
}
#u6 {
  position:absolute;
  left:2px;
  top:95px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u7 {
  position:absolute;
  left:149px;
  top:331px;
  width:47px;
  height:47px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:269px;
}
#u9 {
  position:absolute;
  left:57px;
  top:196px;
  width:230px;
  height:269px;
}
#u10 {
  position:absolute;
  left:2px;
  top:126px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:117px;
  top:475px;
  width:111px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13 {
  position:absolute;
  left:43px;
  top:212px;
  width:259px;
  height:44px;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:210px;
}
#u16 {
  position:absolute;
  left:359px;
  top:249px;
  width:206px;
  height:206px;
}
#u17 {
  position:absolute;
  left:2px;
  top:95px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u18 {
  position:absolute;
  left:439px;
  top:331px;
  width:47px;
  height:47px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:407px;
  top:475px;
  width:111px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u22 {
  position:absolute;
  left:333px;
  top:212px;
  width:259px;
  height:44px;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:210px;
}
#u25 {
  position:absolute;
  left:653px;
  top:249px;
  width:206px;
  height:206px;
}
#u26 {
  position:absolute;
  left:2px;
  top:95px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u27 {
  position:absolute;
  left:733px;
  top:331px;
  width:47px;
  height:47px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:701px;
  top:475px;
  width:111px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u31 {
  position:absolute;
  left:627px;
  top:212px;
  width:259px;
  height:44px;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:897px;
  height:24px;
}
#u33p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:881px;
  height:4px;
}
#u33p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:902px;
  height:24px;
}
#u33p001 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:20px;
  height:20px;
}
#u33p001_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:42px;
  height:40px;
}
#u33p002 {
  position:absolute;
  left:863px;
  top:-8px;
  width:20px;
  height:20px;
}
#u33p002_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:42px;
  height:40px;
}
#u33.compound {
  width:0px;
  height:0px;
}
#u33 {
  position:absolute;
  left:28px;
  top:144px;
  width:877px;
  height:4px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-BoldItalic', 'Avenir Next Bold Italic', 'Avenir Next';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  text-align:center;
}
#u35 {
  position:absolute;
  left:28px;
  top:44px;
  width:877px;
  height:98px;
  font-family:'AvenirNext-BoldItalic', 'Avenir Next Bold Italic', 'Avenir Next';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  text-align:center;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u37 {
  position:absolute;
  left:260px;
  top:0px;
  width:405px;
  height:27px;
  font-family:'AvenirNextCondensed-Regular', 'Avenir Next Condensed';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
